@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Literata", serif;
}
/* MENU PRINCIPAL */
.menu-container {
    max-width: 100%;
    margin: 0 auto;
    background: url('../assets/img/worship.jpg') no-repeat center;
    background-size: cover;
}
.tituloSobre{
    font-size: 35px;
    font-weight: bold;
}

#links #link-container a {
    color: red;
}
#links #link-container a:hover {
    color: black;
}
.foto-banda {
    display: block;
    width: 100%;
    height: 80vh;
}
.logo-banda {
    width: 75%;
}
@media (min-width: 768px) {
    .logo-banda {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .logo-banda {
        width: 25%;
    }
}
@media (min-width: 720px) {
    .menu-container {
        height: 75vh;
    }
}
.superiorHome {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.icone {
    width: 55px;
}
.textoPrincipal {
    margin: 10px 210px;
    text-align: justify;
}
footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.719);
    margin: 100px 0px 5px 0px;
    opacity: 60%;
}

        
